.main{
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items:space-around;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Figtree', sans-serif;
    gap:1rem;
    width: 90%;
}
.input label{
    font-size: 1.0625rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}
.input input{
    background-color: #FFFFFF;
    border:1px solid #F2F2F2;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    outline: none;
    padding: 0.625rem 1.25rem;
    width: 90%;
    font-weight: 400;
}
.footer{
    width: 90%;
    height: 4.6875rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:1rem;
}
.footer button{
    width: 3.75rem;
    height:2,5rem;
    font-family: 'Figtree', sans-serif;
    letter-spacing: 0.06em;
    padding: 0.6rem 0.625rem;
    border-radius: 0.625rem;
}
.footer .back{
    border: 1px solid #999CA0;
    font-weight: 600;
    color:black;
    background:transparent;
}
.footer .submit{
    border: none;
    font-weight: 600;
    color:#FFFFFF;
    background-color:#3E84F8;
}