.footer{
    display: flex;
    flex-direction: row;
    gap:2.5rem;
    height: auto;
    max-width: 100%;
}
@media(max-width:895px){
    .footer{
        gap:1rem;
    }
}
@media(max-width:768px){
    .footer{
        flex-wrap: wrap;
    }
}

