@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Lato&family=Montserrat:wght@400;700&family=Open+Sans&display=swap');
.main{   
  height: 25rem;
  background-color: #FFFFFF;
  border: 0.125rem solid #E0E0E0;
  box-shadow: 0.25rem 0.25rem 1.25rem 0px #0000001A;
  border-radius: 1.25rem;
  box-sizing: border-box;
}
.activities{
    position: relative;
    width: 7.75rem;
    height:3.125rem;
    left:1.5625rem;
    text-align:left;
    font-family: 'Montserrat', sans-serif;
}
.activities h3{
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height:1.375rem;
}
.activities p{
    font-size: 0.875rem;
    color: #858585;
    line-height: 1.0625rem;
    font-weight: 400;
    position: relative;
    bottom: 0.75rem;
    letter-spacing: 0.05em;
}
.userGuest{
    position:relative;
    width: 12.5rem;
    height:2.5rem;
    left:43.75rem;
    bottom: 3.125rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
}
.explain{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 62.5%;
    gap:1rem;
}
.explain span{
    width: 0.5625rem;
    height: 0.5625rem;
    border: none;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top:0.125rem;
    align-self: center;
}
.explain p{
    width: 2.5rem;
    height: 1.0625rem;
    align-self: center;
    font-size: 1rem;
}
.chart{
    max-width:90%;
    position: relative;
    bottom: 1.5rem;
    padding:0 1.5rem;
}
@media(max-width:1303px){
    .userGuest{
        width: 10.5rem;
        left:41.75rem;
    }
}
@media(max-width:1241px){
    .userGuest{
        left:39.75rem;
    }
}
@media(max-width:1183px){
    .userGuest{
        left:37.75rem;
    }
}
@media(max-width:1134px){
    .userGuest{
        left:35.75rem;
    }
}
@media(max-width:1091px){
    .userGuest{
        left:33.75rem;
  
    }
}
@media(max-width:1041px){
    .userGuest{
        left:31.75rem;

    }
}
@media(max-width:997px){
    .userGuest{
        left:28.75rem;

    }
}
@media(max-width:957px){
    .userGuest{
        left:25.75rem;

    }
}
@media(max-width:895px){
    .userGuest{
        left:22.75rem;
    }
}
@media(max-width:856px){
    .userGuest{
        left:18.75rem;
    }
}
@media(max-width:775px){
    .userGuest{
        left:15.75rem;
    }
}
@media(max-width:775px){
    .userGuest{
        left:12.75rem;
    }
}
@media(max-width:670px){
    .userGuest{
        left:10rem;
    }
}
@media(max-width:650px){
    .userGuest{
        left:10rem;
        width: 8.5rem;
    }
    .explain{
        width: 4.25rem;
        gap:0.5rem;
    }
    .explain p{
        width: 2rem;
        font-size: 0.8rem;
    }
    .explain span{
        width: 0.4625rem;
        height: 0.4625rem;
        top:0.05rem;
    }
}
@media(max-width:600px){
    .main{
        height: auto;
    }
    .explain{
        height: auto;
    }
    .activities{
        height: auto;
    }
    .userGuest{
        position: relative;
        left:1.5rem;
        top:0;
        width: 8.5rem;
    }
    .chart{
        height: auto;
        bottom: 0;
    }
}